In [2]:
import seaborn as sns
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
df=pd.read_csv('/home/gaurav/Documents/Mor_pred/ayush/train.csv')
labels=pd.read_csv('/home/gaurav/Documents/Mor_pred/ayush/labels_train.csv')

In [4]:
df.head()

,ALP,ALT,AST,Age,Albumin,BUN,Bilirubin,Cholesterol,Creatinine,DiasABP,...,RespRate,SaO2,SysABP,Temp,TroponinI,TroponinT,Urine,WBC,Weight,pH
0,77.0,31.0,46.0,54,2.973333,10.500000,0.7,154.0,0.750000,58.795833,...,17.428571,97.250000,116.891892,37.357143,2.1,0.14,171.052632,10.300000,80.060976,7.387273
1,77.0,31.0,46.0,76,2.973333,18.333333,0.7,154.0,1.100000,58.897059,...,19.000000,96.833333,113.411765,36.939130,2.1,0.14,151.560976,11.266667,80.670588,7.395000
2,116.0,83.0,199.5,44,2.500000,4.666667,2.9,154.0,0.333333,67.125000,...,19.000000,95.000000,125.687500,37.800000,2.1,0.14,124.951220,4.700000,56.700000,7.495000
3,105.0,12.0,15.0,68,4.400000,17.666667,0.2,154.0,0.766667,58.795833,...,15.457627,97.250000,116.891892,36.223077,2.1,0.14,545.833333,9.400000,84.600000,7.387273
4,77.0,31.0,46.0,88,3.300000,35.000000,0.7,154.0,1.000000,58.795833,...,19.166667,97.250000,116.891892,36.880000,2.1,0.14,62.131579,4.300000,80.060976,7.387273

In [5]:
labels.head()

   In-hospital_death
0                  0
1                  0
2                  0
3                  0
4                  0

In [6]:
from sklearn.preprocessing import MinMaxScaler
#normalization
scaler = MinMaxScaler(feature_range=(0, 1))
df = scaler.fit_transform(df)

In [7]:
'''corrmat=df.corr()
f, ax = plt.subplots(figsize=(12, 12))
sns.heatmap(corrmat,vmax=.6,square=True)
plt.show()'''

from sklearn.model_selection import train_test_split

train_data,test_data,train_labels,test_labels=train_test_split(df,labels,random_state=3,train_size=0.8)

/home/gaurav/anaconda3/lib/python3.6/site-packages/sklearn/model_selection/_split.py:2010: FutureWarning: From version 0.21, test_size will always complement train_size unless both are specified.
  FutureWarning)

In [9]:
test_data[1]

array([  4.79342616e-02,   3.20006877e-03,   2.74339671e-03,
         8.53333333e-01,   4.52380952e-01,   8.00790905e-02,
         1.29682997e-02,   4.39393939e-01,   4.30579965e-02,
         5.51062500e-01,   1.47677959e-06,   3.84920635e-01,
         0.00000000e+00,   3.28685259e-01,   1.79856115e-01,
         4.34945632e-01,   7.33174144e-01,   3.91627907e-01,
         2.24505527e-05,   8.51851852e-02,   4.72813239e-03,
         3.14425390e-01,   0.00000000e+00,   1.98275862e-01,
         5.75813953e-01,   6.01327901e-01,   5.76495726e-01,
         5.75109994e-01,   1.50234742e-01,   1.16768147e-03,
         3.60194739e-01,   8.29978291e-01,   3.00458100e-01,
         9.54751131e-01,   7.10414087e-01,   8.84522525e-01,
         3.88548057e-02,   4.16146484e-04,   2.81833415e-02,
         1.21779290e-01,   2.72175379e-01,   9.23192309e-03])

In [ ]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import AdaBoostClassifier
from imblearn.over_sampling import SMOTE


train_data_res,train_labels_res=SMOTE(random_state=9).fit_sample(train_data,train_labels) #balancing the data
train_data_res=pd.DataFrame(train_data_res)
train_labels_res=pd.DataFrame(train_labels_res)

dt = DecisionTreeClassifier() 
clf = AdaBoostClassifier(n_estimators=100, base_estimator=dt,learning_rate=0.5)

clf.fit(train_data_res,train_labels_res)
train_data_res.head()

In [ ]:
train_labels_res[0].value_counts()

In [ ]:
predictions=clf.predict(test_data)

In [ ]:
print(test_labels.iloc[:])

In [ ]:
predictions

In [ ]:
from sklearn.metrics import f1_score,accuracy_score
print(f1_score(test_labels,predictions),accuracy_score(test_labels,predictions))